@layer reset, init, design;

@import url(nomralize.css) layer(reset);
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@layer init {
  :root {
    --primary: #178bf6;
    --dark-blue: #0063c0;
    --secondary: #0038ff;
    --dark: #010321;
    --light: #f6f6ff;
    --light-hover: #eaeaea;
    --black: #0000;
    --white: #ffffff;
    --gray: #565a7c;
    --gray-hover: rgb(132, 137, 180);

    --header-content-width: 1500px;
    --section-content-width: 1500px;
  }

  html {
    font-family: "Lato", sans-serif;
    color: var(--dark, #010321);
    font-weight: 400;
    background-color: var(--white, #ffffff);
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  .navbar::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: var(--gray, #565a7c);
    margin-top: 4px;
  }

  .footer__page-content::before {
    content: "";
    display: block;
    height: 1px;
    width: 80%;
    background-color: var(--gray, #565a7c);
    margin-bottom: -8px;
  }

  .footer__contact::before {
    content: "";
    display: block;
    height: 1px;
    width: 80%;
    background-color: var(--gray, #565a7c);
    margin-bottom: 2px;
  }
  .faq {
    position: relative;
  }
  .faq::after {
    content: url("./../images/backgroun-light-stripe.png");
    display: block;
    position: absolute;
    top: -230%;
    bottom: 0;
    width: 100%;
    z-index: -2;
  }

  .steps_step {
    display: flex;
  }

  .steps__step-one::before {
    content: url("./../images/icons/number-1.svg");
    display: block;
  }
  .steps__step-two::before {
    content: url("./../images/icons/number-2.svg");
    display: block;
  }
}

/* 
link in autoservis header description
*/

@layer design {
  /* COMPONENTS */

  /* section */
  .section {
    max-width: var(--section-content-width, 1500px);
    margin: 0 auto;
    padding: 0 2em;
  }

  /* navabar */
  .navbar__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em;
  }
  .navbar__items {
    display: flex;
    gap: 2em;
  }
  .navbar__item {
    color: var(--gray, #565a7c);
    text-decoration: none;
  }
  .navbar__item:hover {
    color: var(--gray-hover, rgb(132, 137, 180));
  }
  .navbar__logo {
    width: 107px;
    height: 50px;
  }
  .navbar__hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 24px;
    height: 24px;
    z-index: 101;
  }
  .navbar__hamburger .bar {
    width: 100%;
    height: 1px;
    background-color: var(--gray, #565a7c);
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  @media (max-width: 768px) {
    .navbar__hamburger {
      display: flex;
    }
    .navbar__items {
      display: none;
      flex-direction: column;
      justify-content: space-around;
      gap: 2em;
      position: absolute;
      height: 50dvh;
      text-align: center;
      top: 0;
      left: 0;
      right: 0;
      background-color: var(--white, white);
      padding: 1em;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      z-index: 1;
    }
    .navbar__items.active {
      display: flex;
    }
    .navbar__hamburger.active .bar:nth-child(1) {
      transform: rotate(45deg) translate(5px, 6px);
    }
    .navbar__hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
    .navbar__hamburger.active .bar:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -6px);
    }
  }

  /* sticky contact stripe */
  .sticky-contact {
    z-index: 100;
    position: sticky;
    top: 0;
    padding: 1em 0;
    background-color: var(--white, white);
    display: flex;
    justify-content: center;
    margin-top: 3em;
  }

  /* SECTIONS */

  /* header */
  .page__header {
    height: 780px;
    background-size: cover;
    background-position: left;
  }
  .page__header--home {
    background-image: url(../images/main-page/hero-image.png);
  }
  .page__header--autoservis {
    background-image: url(../images/autoservis/hero-image.png);
    height: 900px;
  }
  .page__intro--autoservis {
    margin-top: 50px;
  }
  .page__intro {
    margin-top: 5em;
  }

  /* partners */
  .page__partners {
    background-color: var(--light, #f6f6ff);
    margin-top: -100px;
  }
  .page__partners-wrapper {
    padding: 2em 0;
    display: flex;
    justify-content: space-around;
    gap: 24px;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  /* services */
  .page__services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    row-gap: 8em;
    column-gap: 3em;
    padding: 0 2em;
  }
  .page__services--autoservis {
    margin: 128px auto;
    margin-bottom: 300px;
    max-width: 1530px;
  }
  .page__services--autoservis-heading {
    display: grid;
    place-items: center;
  }
  .page__services--autoservis-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 32px;
    justify-content: center;
  }

  .page__about {
    background-image: url(./../images/autoservis/background1.png);
    background-size: cover;
    background-position: left;
    padding: 5em;
  }

  .page__about-content {
    background-color: rgba(246, 246, 255, 0.79);
    max-width: 1300px;
    margin: 0 auto;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    padding-top: 2em;
    gap: 12px;
  }

  .page__about-content .h2 {
    margin: 0 0 16px 0;
    text-align: center;
  }

  .page__about-content .icon-text {
    margin-bottom: 8px;
  }

  .page__about-wrapper,
  .opening_hours__day-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }

  .page__about-wrapper {
    justify-content: center;
    width: 100%;
  }

  .page__rezervation {
    position: relative;
    height: 1000px;
    margin-top: 430px;
    padding: 3em 1em;
  }

  .page__rezervation img {
    position: absolute;
    right: -10%;
    top: 0;
    z-index: -4;
  }

  .page__rezervation .h2,
  .page__rezervation .paragraph {
    text-align: center;
  }

  @media (max-width: 1415px) {
    .page__rezervation img {
      display: none;
    }

    .page__rezervation .steps {
      place-content: center;
    }
  }

  .steps {
    margin: 0 auto;
    display: grid;
    gap: 56px;
  }

  .steps__text-wrapper {
    padding-top: 0.3em;
    padding-left: 1em;
    display: grid;
    gap: 0.3em;
  }

  .steps__content {
    font-weight: 650;
    font-family: "Montserrat", sans-serif;
    color: var(--dark, #010321);
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    line-height: 34px;
  }

  .steps__text-wrapper > * {
    margin: 0;
  }

  @media (max-width: 814px) {
    .steps__content {
      font-size: 24px;
    }

    .page__rezervation .paragraph {
      font-size: 16px;
    }

    .steps ::before {
      display: none;
    }

    .steps_step {
      text-align: center;
    }

    .steps__text-wrapper {
      width: 100%;
      padding: 0;
    }
  }

  .page__booking {
    width: 400px;
    height: 600px;
    background-color: #555;
    margin-top: 24px;
  }

  .page__rezervation .paragraph {
    margin-top: 8px;
    margin-bottom: 80px;
  }

  .page__contact {
    background-image: url("./../images/contact-bacground.png");
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5em;
    padding: 12em 2em 10em 2em;
  }

  .page__contact-row2 .h4 {
    margin-bottom: -8px;
  }

  .page__contact-row2 .paragraph {
    margin-bottom: 56px;
  }

  @media (max-width: 1450px) {
    .card--left {
      grid-column: 2;
    }
  }
  @media (max-width: 1190px) {
    .page__contact {
      padding-top: 18em;
    }
    .page__contact-row2 {
      order: -1;
    }

    .page__contact-row2 .h4,
    .page__contact-row2 .paragraph {
      text-align: center;
    }
  }

  @media (max-width: 875px) {
    .page__services {
      grid-template-columns: repeat(2, 1fr);
    }
    .card--left {
      grid-column: auto;
    }

    .card--autoservis .card__heading {
      font-size: 24px;
    }
  }
  @media (max-width: 770px) {
    .page__services {
      grid-template-columns: 1fr;
      place-items: center;
      padding: 0;
    }
  }

  @media (max-width: 787px) {
    .card--autoservis {
      min-width: 100%;
    }
  }

  @media (max-width: 660px) {
    .page__contact-row2 img {
      width: 100%;
      height: auto;
    }
  }
  @media (max-width: 360px) {
    .page__header {
      height: 900px;
    }

    .navbar__items .icon-text a {
      font-size: 0.7em;
    }
  }
  .pujcovna {
    width: 75px;
    transition: 0.5s;
  }

  /* COMPONENTS */
  .testimonials {
    width: 100%;
    height: 900px;
    background-image: url("./../images/background-rectangle.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .testimonials__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .testimonials__wrapper .h4 {
    text-align: center;
  }

  .testimonials__review-wrapper {
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 5em;
    padding: 0 2em;
    height: 7em;
  }

  .testimonials__review {
    width: 50em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media (max-width: 1170px) {
    .testimonials__review {
      width: 30em;
    }
  }

  @media (max-width: 795px) {
    .testimonials__review {
      width: 20em;
    }

    .testimonials__review-wrapper {
      height: 15em;
    }
  }

  @media (max-width: 600px) {
    .testimonials__review {
      width: 15em;
    }
    .testimonials__review-wrapper {
      height: 20em;
    }

    .testimonials {
      height: 1000px;
    }
  }

  @media (max-width: 500px) {
    .testimonials__review {
      width: 12em;
    }

  }

  @media (max-width: 425px) {
    .testimonials__review {
      width: 10em;
    }
    .testimonials__review-wrapper {
      height: 22em;
    }
    .testimonials {
      height: 1200px;
    }
  }

  .testimonials .h4 {
    margin-bottom: 40px;
  }

  .testimonials__author {
    margin-top: 4px;
  }

  .testimonials__stars {
    margin-bottom: 4px;
  }

  .testimonial__arrow {
    width: 24px;
    height: 24px;
    align-self: center;
  }

  .testimonial__arrow:hover {
    cursor: pointer;
  }

  /* faq */

  .faq {
    margin-top: 124px;
  }

  .faq__wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1em;
  }

  .faq__title {
    text-align: center;
    margin-bottom: 8px;
  }

  .faq__item {
    background-color: var(--light, #f6f6ff);
    padding: 15px;
    border-radius: 8px;
    margin: 12px;
  }

  .faq__question {
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    padding: 8px 0;
  }

  .faq__question:hover {
    color: var(--dark-blue, #0063c0);
  }

  .faq__answer {
    font-size: 16px;
    color: #555;
    display: none;
    padding-top: 10px;
  }

  .faq__item.open .faq__answer {
    display: block;
  }

  .faq .h3 {
    text-align: center;
    margin-bottom: 32px;
  }

  /* icon + text */
  .icon-text {
    display: flex;
    align-items: center;
  }
  .icon-text img {
    margin-right: 0.3em;
    height: 1em;
  }
  .icon-text a {
    text-decoration: none;
  }

  .email-form {
    padding: 2em;
    background: rgb(205, 219, 230);
    background: linear-gradient(
      180deg,
      rgba(205, 219, 230, 1) 0%,
      rgba(215, 221, 241, 1) 100%
    );
    width: 400px;
    height: 550px;
    border-radius: 4px;
  }

  #contactForm {
    display: flex;
    flex-direction: column;
  }

  .email-form label,
  .email-form .btn {
    margin-bottom: 0.3em;
    margin-top: 1.5em;
  }

  .email-form input {
    height: 24px;
  }

  .email-form textarea {
    height: 64px;
  }

  .email-form .btn {
    text-align: center;
    margin: 5em auto;
    width: 100px;
  }

  .email-form .h4 {
    text-align: center;
    margin-top: 12px;
  }

  input,
  textarea {
    border: 0.5px solid var(--gray, #565a7c);
    border-radius: 4px;
  }

  /* typography */
  a {
    text-decoration: none;
    color: var(--secondary, #0038ff);
  }

  .h1 {
    font-size: 70px;
    font-family: "Montserrat", sans-serif;
    line-height: 81px;
    letter-spacing: -1.5px;
    color: var(--dark, #010321);
    margin: 0px;
    font-weight: 700;
  }
  .h1--intro {
    max-width: 9em;
    margin-top: -5px;
  }
  .h1--intro-autoservis {
    max-width: 10em;
  }

  .h2 {
    font-size: 48px;
    line-height: 55px;
    letter-spacing: -1px;
    color: var(--dark, #010321);
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0;
  }

  .h2--no-margin {
    margin: 0;
  }

  @media (max-width: 700px) {
    .h1 {
      font-size: 2.986rem;
      line-height: normal;
    }

    .h2 {
      font-size: 2.074rem;
      line-height: normal;
    }
  }

  .h3 {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: var(--primary, #178bf6);
    margin: 0;
    font-weight: 450;
  }

  .h3--small {
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 1.3px;
  }

  .h4 {
    font-size: 24px;
    line-height: 28px;
    color: var(--dark, #010321);
    font-family: "Montserrat", sans-serif;
  }

  .h4--big {
    font-size: 32px;
    line-height: 34px;
  }

  .h3--dark {
    color: var(--dark, #010321);
  }

  .paragraph {
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0px;
    color: var(--gray, #565a7c);
  }

  .paragraph--dark {
    color: var(--dark, #010321);
  }

  .paragraph--intro {
    max-width: 32em;
    margin-bottom: 4em;
    margin-top: 14px;
  }
  .paragraph--intro-autoservis {
    max-width: 30em;
  }
  .paragraph--services-autoservi {
    margin-top: 8px;
    text-align: center;
  }

  .page__services--autoservis-dph {
    margin: 24px 0 -16px 0;
  }

  .small-paragraph {
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0px;
    color: var(--gray, #565a7c);
  }

  /* button */
  .btn {
    text-decoration: none;
    color: var(--white, white);
    text-transform: uppercase;
    background-color: var(--secondary, #0038ff);
    padding: 1.2em 3em;
    font-size: 14px;
    letter-spacing: 1.8px;
    border-radius: 4px;
    box-shadow: #565a7c;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
  }
  .btn:hover {
    background-color: var(--primary, #178bf6);
  }

  /* card */
  .card {
    display: block;
    background-color: var(--primary, #178bf6);
    height: 350px;
    width: 300px;
    border-radius: 4px;
    margin: -100px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    padding-top: 2em;
    transition: 0.3s;
    text-decoration: none;
  }
  .card .second {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 0;
  }
  .card h3 {
    font-size: 28px;
    letter-spacing: -1px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    color: var(--light, #f6f6ff);
    transition: 0.3s;
  }
  .card__icon {
    width: 60px;
    transition: 0.3s;
  }
  .card:hover {
    transform: scale(1.01);
    background-color: #315372;
  }
  .card:hover h3 {
    transform: translate(5%, -100%);
  }
  .card:hover .card__icon {
    transform: translate(40%, 50%);
  }
  .card:hover .pujcovna {
    transform: translate(40%, 50%);
  }
  .card--autoservis {
    width: 325px;
    height: 180px;
    padding-top: 0.1em;
    padding-right: 2em;
    margin: 0;
    background-color: var(--light, #f6f6ff);
  }

  .card--autoservis h3 {
    color: var(--dark, #010321);
    font-size: 24px;
  }

  .card--autoservis .price {
    font-size: 16px;
    color: var(--gray, #565a7c);
    margin-top: -1em;
    transition: 0.3s;
  }

  .card--autoservis:hover {
    background-color: var(--light-hover, #eaeaea);
  }

  .card--autoservis:hover h3,
  .card--autoservis:hover .price {
    transform: translate(5%, 20%);
  }

  .card--autoservis:hover .price {
    transform: translateX(5%);
  }
  .card__icon--small {
    width: 60px;
  }

  .card__icon-wrapper {
    text-align: right;
  }

  .card--autoservis:hover .card__icon--small {
    transform: translate(-5%, -20%);
  }

  .opening_hours__day-wrapper {
    justify-content: space-between;
    width: 250px;
  }

  .opening_hours__heading {
    text-align: center;
  }

  .opening-hours .h4 {
    margin-bottom: 12px;
  }

  .opening-hours__day,
  .opening-hours__time {
    text-transform: uppercase;
    color: var(--dark, #010321);
  }

  .opening-hours__day--closed,
  .opening-hours__time--closed {
    color: var(--gray, #565a7c);
  }

  @media (max-width: 1145px) {
    .opening-hours {
      order: -1;
    }

    .page__about-content .icon-text {
      order: 1;
    }
  }

  @media (max-width: 814px) {
    .page__location-map iframe {
      width: 400px;
      height: 400px;
    }

    .page__about-content .icon-text a {
      font-size: 14px;
    }
  }

  @media (max-width: 669px) {
    .page__about-content .icon-text a {
      font-size: 12px;
    }
  }

  @media (max-width: 669px) {
    .page__about {
      padding: 0;
    }
    .page__about-content {
      width: auto;
    }
  }

  @media (max-width: 420px) {
    .page__about-content {
      padding: 0;
    }

    .page__location-map {
      display: grid;
      place-content: center;
    }

    .page__location-map iframe {
      width: 100%;
    }
    .page__about-content .icon-text a {
      font-size: 10px;
    }

    .page__about-content .icon-text {
      padding-left: 1em;
    }
  }

  /* footer */
  .footer {
    background-color: var(--light, #f6f6ff);
    margin-top: 145px;
  }

  .footer--autoservis {
    margin-top: 0px;
  }

  .footer__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    padding-top: 1em;
    margin: 0 auto;
  }

  .footer__contact {
    display: flex;
    flex-direction: column;
  }
  .footer__contact-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
  }

  .footer__contact h5 {
    order: -1;
  }

  .footer__page-content {
    display: flex;
    flex-direction: column;
  }
  .footer__logo-wrapper {
    display: grid;
    place-items: center;
  }

  .footer ul {
    list-style-type: none;
    padding: 0;
  }
  .footer a {
    font-size: 12px;
    line-height: 23px;
    letter-spacing: 0px;
    color: var(--gray, #565a7c);
    text-decoration: underline;
  }
  .footer__contact-wrapper a {
    text-decoration: none;
  }
  #copywrite {
    grid-column-start: 1;
    grid-column-end: 4;
    place-self: center;
    margin-top: 3em;
  }
  .footer p {
    color: var(--gray, #565a7c);
    font-size: 12px;
    margin-top: 1px;
  }
  .footer h5 {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--dark, #010321);
    margin-bottom: 2px;
    order: -1;
  }
  .footer h6 {
    font-size: 13px;
    font-weight: 500;
    margin: 1em 0 0.5em 0;
  }
  .footer a:hover {
    color: var(--gray-hover), rgb(132, 137, 180);
  }
  @media (max-width: 1415px) {
    .footer__wrapper {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      row-gap: 2em;
      column-gap: 2em;
    }
    .footer__page-content::before,
    .footer__contact::before {
      width: 100%;
      margin: 0;
    }
    .footer__contact {
      grid-row: 2;
      grid-column-start: 2;
      grid-column-end: 4;
    }
    .footer__logo-wrapper {
      grid-column: 2;
    }
    #copywrite {
      grid-column-start: 2;
      grid-column-end: 4;
    }
  }
  @media (max-width: 1250px) {
    .footer__contact {
      grid-row: 2;
      grid-column-start: 1;
      grid-column-end: 5;
      padding: 0 2em;
    }
  }
  @media (max-width: 930px) {
    .footer__wrapper {
      grid-template-columns: 1fr;
    }

    .footer__logo-wrapper {
      grid-column: 1;
    }

    .footer__contact {
      grid-column: 1;
    }
    #copywrite {
      grid-column: 1;
    }

    .footer__page-content {
      grid-column: 1;
      padding: 2em;
      display: flex;
      flex-direction: column;
    }
    .footer__page-content ul {
      display: flex;
      flex-direction: column;
    }
  }

  @media (max-width: 735px) {
    .footer__contact-wrapper {
      display: flex;
      flex-direction: column;
      padding: 24px;
    }

    .footer__page-content ul {
      padding: 24px;
    }
  }

  .fade-in {
    animation: fadeIn 0.3s forwards;
  }

  .fade-out {
    animation: fadeOut 0.3s forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .swipe-in {
    animation: swipeIn 0.3s forwards;
  }

  .swipe-out {
    animation: swipeOut 0.3s forwards;
  }

  @keyframes swipeIn {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes swipeOut {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(-100%);
    }
  }
}
