@layer reset, init, design;

@import url(nomralize.css) layer(reset);
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@100..900&display=swap");

@layer init {
  :root {
    --primary: #178bf6;
    --secondary: #0038ff;
    --dark: #010321;
    --light: #f6f6ff;
    --black: #0000;
    --white: #ffffff;
    --text: #565a7c;

    --page-padding: 124px;
  }

  html {
    font-family: "Lato", sans-serif;
    color: var(--dark, #010321);
    font-weight: 400;
    background-color: var(--white, #ffffff);
  }
}

@layer design {

  .page__header {
    height: 80dvh;
    display: flex;
    justify-content: center;
    padding: 0 5em;
    background-image: url(../images/main-page/hero-image.png);
    background-size: cover;
    background-position: left;
  }

  .page__content {
    max-width: 1500px;
  }

  /* navbar */

  .navbar hr {
    color: var(--text, #565a7c);
    box-shadow: none;
    border: .1px solid var(--text, #565a7c);
  }

  .navbar__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0.7em;
  }

  .navbar__items {
    display: flex;
  }

  .navbar__item {
    margin: 0 1em;
  }

  /* icon + text */
  .icon-text {
    display: flex;
    align-items: center;
  }

  .icon-text img {
    margin-right: 0.3em;
  }

  .icon-text a {
    text-decoration: none;
  }


    /* small paragraph */
  .small-paragraph {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0px;
    color: var(--text, #565a7c);
  }
}
